<div class="kss-example">

  <h3 class="kss-heading"><%= @section.section %> <em><%= @section.filename %></em></h3>
  <div class="kss-description">
    <p><%= @section.description %></p>
    <% if @section.modifiers.any? %>
      <ul class="kss-modifier">
        <% @section.modifiers.each do |modifier| %>
          <li><strong><%= modifier.name %></strong> - <%= modifier.description %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
	<% if @show_example %>
  <div class="kss-element">
    <%= @example_html %>
  </div>
	<% end %>
  <% @section.modifiers.each do |modifier| %>
    <div class="kss-element kss-modifier">
      <span class="kss-modifier-name"><%= modifier.name %></span>
      <%= @example_html.gsub('$modifier_class', " #{modifier.class_name}") %>
    </div>
  <% end %>
	<% if @show_escaped %>
  <div class="kss-html">
    <pre class="kss-code"><%= @escaped_html %></pre>
  </div>
	<% end %>

</div>
